<% if documents.any? %>
  <ul>
    <% documents.each do |item| %>
      <%
        # Respect navigation_depth option (default to 5)
        max_depth = options[:navigation_depth] || 5
        item_depth = item[:depth] || 0
        next if item_depth >= max_depth
      %>
      <% if item[:is_directory] %>
        <li class="depth-<%= item_depth %> directory">
          <span class="directory-name"><%= item[:title] %></span>
          <% if item[:children] && item[:children].any? %>
            <ul>
              <% item[:children].each do |child| %>
                <%
                  child_depth = child[:depth] || 0
                  next if child_depth >= max_depth
                %>
                <% if child[:is_directory] %>
                  <li class="depth-<%= child_depth %> directory">
                    <span class="directory-name"><%= child[:title] %></span>
                  </li>
                <% else %>
                  <li class="depth-<%= child_depth %>">
                    <a href="<%= child[:html_path] %>"
                      class="<%= child[:source_path] == current_path ? 'current' : '' %>">
                      <%= child[:title] %>
                    </a>
                  </li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </li>
      <% else %>
        <li class="depth-<%= item_depth %>">
          <a href="<%= item[:html_path] %>"
            class="file-name <%= item[:source_path] == current_path ? 'current' : '' %>">
            <%= item[:title] %>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>